<html>
<head>
</head>
<body>
<div style= "width:1000px;margin:0 auto; height:auto;min-height:500px;">
<div style="width:1000px;margin:0 auto;border:1px solid black;">
<ul>
<li><a href="/Home">Home</a></li>
<li><a href="/addcategory">Add category</a></li>
<li><a href="/listcategory">List Category</a> </li>
<li><a href="/additem">add item</a></li>
<li><a href="/listitem"> list item</a> </li>
</div>
</body>
</html>